<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    {% if registered %}
      <h1>thankyou for registering</h1>

    {% else %}
      <div class="container">
      <h1>Register here</h1>
      <h1>fill out the form</h1>

        <form   enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{user_form.as_p}}
          {{userprofile_form.as_p}}
          <input type="Submit" class='btn btn-submit' value="Register">

        </form>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
